<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Conexion a la BD-->
  <connectionStrings>
    <add name="default" connectionString="Data Source=localhost;Initial Catalog=ProyectoFunerariaVirgenAngeles;Integrated Security=false;MultipleActiveResultSets=true;Application Name=Funeraria APP;"
      providerName="System.Data.SqlClient" />
    <add name="UTN.Winform.Funeraria.Properties.Settings.FunerariaConnectionString"
      connectionString="Data Source=.;Initial Catalog=ProyectoFunerariaVirgenAngeles;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
